{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .jumbotron{
            background-color: #1a1818!important;
        }
        h1{
            font-family: Helvetica;color: #fafafa;margin-bottom: 25px
        }
        .radius-25{
            border-radius: 25px
        }
        .mar-bot-50{
            margin-bottom: 50px;
        }
        .padd-3px{
            padding: 3px;
        }
        .list-group-item{
            height: 55px;
        }

    </style>
    <div class="jumbotron text-center">
        <h1>UEFA Champions League</h1>
        <div class="row">
            {% for team in teamsList %}
                <div class="col-sm-3 text-right">
                    <div class="col-sm-12" style=" padding: 5px;color:{{ (team.domestic_champ)?'red':'#fafafa' }};">
                        {{ team.club }}&nbsp;&nbsp;({{ team.country }})
                            <img src = "/images/{{ team.club }}.png" width="30px" class="radius-25" alt="img"/>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        {% if teamsByGroups is defined and teamsByGroups is not null %}
        <div class="row mar-bot-50">
            {% for key,group in teamsByGroups %}
                <div class="col-sm-3 padd-3px" >
                    <div class="list-group">
                        <span class="list-group-item active">
                            {{ key }}
                        </span>

                        {% for team in group %}
                        <span  class="list-group-item">
                            <img src = "/images/{{ team.club }}.png" width="25px" class="radius-25" alt="img"/>
                            <b style="color:{{ (team.domestic_champ)?'red':'black' }};font-weight:300!important; ">{{ team.club }}&nbsp;&nbsp;({{ team.country }})</b>
                        </span>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
